html, body {
  font-size: 16px;
  background-color: #efefef;
  font-family: "Rosario", "Noto Sans", sans-serif;
  line-height: 1em;
  font-smoothing: subpixel-antialiased !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  -webkit-overflow-scrolling: touch;
}

p {
  line-height: 1.5em;
  margin: 0 0 1em 0;
}
p:last-child {
  margin-bottom: 0;
}

.inline-block {
  display: inline-block;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.align-right {
  text-align: right;
}

.collapse-top {
  margin-top: -1rem;
}

.no-bottom {
  margin-bottom: 0;
}

.badge {
  margin: -3px 0;
}

.badge-light {
  background-color: rgba(0, 0, 0, 0.05);
  color: #999;
}

.glyphicon-light {
  opacity: 0.3;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1200px;
}

#about {
  display: none;
}

blockquote {
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  margin-bottom: 1rem;
}
blockquote p {
  margin: 0;
}
blockquote .label {
  line-height: 2em;
  cursor: pointer;
  font-weight: normal;
}

.label-light {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
.label-light:hover {
  color: rgba(0, 0, 0, 0.4);
}

.navbar {
  margin-bottom: 1rem;
  min-height: 1em;
}
.navbar .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar .navbar-brand[data-click] {
  cursor: pointer;
}
.navbar .navbar-brand, .navbar li a, .navbar .navbar-toggle {
  line-height: 1em;
  height: auto;
}
.navbar .navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.navbar .logo {
  height: 2em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}
.navbar .btn {
  background-color: transparent;
}
.navbar .btn-active {
  border-bottom: 0.2em #40bfbf solid;
  color: #40bfbf;
  font-weight: bold;
  border-radius: 0;
}
.navbar.large .navbar-brand, .navbar.large li a, .navbar.large .navbar-toggle {
  font-size: 1.2rem;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}
.navbar.medium .navbar-brand, .navbar.medium li a, .navbar.medium .navbar-toggle {
  font-size: 1rem;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.navbar.small .navbar-brand, .navbar.small li a, .navbar.small .navbar-toggle {
  font-size: 0.9rem;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.navbar .input-group-btn li a {
  font-size: 0.9rem;
}

.form-control {
  height: auto;
  padding: 0.5rem;
  font-size: 1em;
  line-height: 1em;
  margin: 0 0 0 0.5rem;
  width: 100%;
}

.form-group, .input-group-btn {
  width: auto;
  display: inline-block;
}

input[type=file] {
  display: inline-block;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem;
  font-size: 1em;
  line-height: 1em;
}

.dropdown-menu li.divider {
  margin: 0.3em 0;
}

.border-bottom {
  border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

[data-topic], [data-relation], [data-profession], [data-author] {
  cursor: pointer;
}
[data-topic]:hover, [data-relation]:hover, [data-profession]:hover, [data-author]:hover {
  text-decoration: none;
}

.nav-pills-nested {
  list-style: none;
  margin-left: 1em;
  padding-left: 0;
  border-left: 1px rgba(0, 0, 0, 0.3) dotted;
}
.nav-pills-nested li.active > a {
  color: #fff;
  background-color: #337ab7;
}
.nav-pills-nested li.active > a > .badge {
  color: #337ab7;
  background-color: #fff;
}
.nav-pills-nested a {
  padding: 10px 15px;
  display: block;
  border-radius: 4px;
  text-decoration: none;
}

#topics.nav-pills > [data-expandable='true'] > a, #topics.nav-pills > [data-expandable='all'] > a {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px rgba(0, 0, 0, 0.1) solid;
}
#topics.nav-pills > [data-expandable='true'] > a .glyphicon, #topics.nav-pills > [data-expandable='all'] > a .glyphicon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
#topics.nav-pills > [data-expandable='true'].active > a, #topics.nav-pills > [data-expandable='all'].active > a {
  background-color: #337ab7;
}

#navbar-collapse-level1 {
  overflow: visible;
}

@media (min-width: 768px) {
  #topics-container {
    overflow: scroll;
  }

  #topics-container.affix-top {
    max-height: calc(100vh - 89px);
  }

  #topics-container.affix {
    position: fixed;
    top: 17px;
    width: calc(25% - 10.75px);
    max-height: calc(100vh - 34px);
  }
  
  #relations-container {
    float: right;
  }
}

@media (max-width: 768px) {
  #topics-container.affix {
    position: relative;
  }

  #relations {
    margin-top: 17px;
  }
}

@media (min-width: 1200px) {
  #topics-container.affix {
    width: calc(15% - 6.8px);
  }
}